Repository choooz/client, pull requests merged in 2023-10, with the labels that each got.

#184 PR 생성시 라벨 붙도록 자동화
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  .pnp.cjs
  .yarnrc.yml
  apps/jurumarble/next.config.js
  yarn.lock
Labels: 🙏리뷰해주세요, JURUMARBLE

#186 [JR-875] 투표 qa 작업
  apps/jurumarble/src/app/search/components/ChipContainer.tsx
  apps/jurumarble/src/app/search/components/DrinkVoteItem.tsx
  apps/jurumarble/src/app/vote/[id]/components/ChipContainer.tsx
  apps/jurumarble/src/app/vote/[id]/components/VoteDescription.tsx
  apps/jurumarble/src/app/vote/[id]/page.tsx
  apps/jurumarble/src/app/vote/page.tsx
  apps/jurumarble/src/components/Chip.tsx
Labels: 🙏리뷰해주세요, JURUMARBLE

#182 코드 성능 최적화 (번들 최적화, 코드스플리팅, 트리쉐이킹)
  .pnp.cjs
  apps/jurumarble/next.config.js
  apps/jurumarble/package.json
  apps/jurumarble/src/app/drink-info/[id]/page.tsx
  apps/jurumarble/src/app/map/page.tsx
  apps/jurumarble/src/app/my/page.tsx
  apps/jurumarble/src/app/page.tsx
  apps/jurumarble/src/app/vote/[id]/page.tsx
  packages/ui/package.json
  yarn.lock
Labels: 🙏리뷰해주세요, JURUMARBLE, dependencies, PACKAGES

#187 module css 적용 및 layout 파일 서버 컴포넌트로 변경
  .pnp.cjs
  apps/jurumarble/package.json
  apps/jurumarble/src/app/layout.tsx
  apps/jurumarble/src/components/StyledLayout.tsx
  apps/jurumarble/src/components/index.ts
  apps/jurumarble/src/components/layouts/PageLayout.tsx
  apps/jurumarble/src/components/layouts/index.ts
  apps/jurumarble/src/components/layouts/styles.module.css
  apps/jurumarble/src/lib/styles/getClassNames.ts
  apps/jurumarble/src/lib/styles/global.css
  apps/jurumarble/src/lib/styles/theme.ts
  apps/jurumarble/src/lib/styles/typography.module.css
  apps/jurumarble/tsconfig.json
  yarn.lock
Labels: 🙏리뷰해주세요, JURUMARBLE, dependencies

#192 global css 오타 수정
  apps/jurumarble/src/lib/styles/global.css
Labels: 🙏리뷰해주세요, JURUMARBLE

#193 http fetch modules 생성
  .pnp.cjs
  apps/jurumarble/package.json
  apps/jurumarble/src/lib/apis/vote/getHotDrinkList.ts
  apps/jurumarble/src/lib/apis/vote/getHotDrinkVote.ts
  apps/jurumarble/src/modules/httpFetch.ts
  packages/http-fetch/.eslintrc.js
  packages/http-fetch/index.ts
  packages/http-fetch/package.json
  packages/http-fetch/src/http-fetch.ts
  packages/http-fetch/src/index.ts
  yarn.lock
Labels: 🙏리뷰해주세요, JURUMARBLE, dependencies, PACKAGES

#194 browser-api 패키지 생성
  .pnp.cjs
  apps/jurumarble/package.json
  packages/browser-api/.eslintrc.js
  packages/browser-api/index.ts
  packages/browser-api/package.json
  packages/browser-api/src/cookie.ts
  packages/browser-api/src/index.ts
  packages/browser-api/src/local-storage.ts
  packages/browser-api/src/session-storage.ts
  yarn.lock
Labels: 🙏리뷰해주세요, JURUMARBLE, dependencies, PACKAGES

#201 도커 세팅
  .yarnrc.yml
  apps/jurumarble/Dockerfile
  package.json
  scripts/docker/docker-compose.yaml
  scripts/shell/jurumarble.sh
Labels: 🙏리뷰해주세요, JURUMARBLE

#202 [JR-879] 로그인 되어있지 않을시 나타나는 모달 구현
  apps/jurumarble/src/app/drink-info/[id]/components/DrinkInfoContainer.tsx
  apps/jurumarble/src/app/map/components/MapContainer.tsx
  apps/jurumarble/src/app/my/components/VoteListContainer.tsx
  apps/jurumarble/src/app/search/components/ChipContainer.tsx
  apps/jurumarble/src/app/search/components/DrinkItem.tsx
  apps/jurumarble/src/app/search/components/DrinkList.tsx
  apps/jurumarble/src/app/search/components/DrinkVoteItem.tsx
  apps/jurumarble/src/app/search/components/DrinkVoteList.tsx
  apps/jurumarble/src/app/search/components/SearchContainer.tsx
  apps/jurumarble/src/app/stamp/components/DrinkItem.tsx
  apps/jurumarble/src/app/vote/[id]/components/ChipContainer.tsx
  apps/jurumarble/src/app/vote/[id]/components/CommentForm.tsx
  apps/jurumarble/src/app/vote/[id]/page.tsx
  apps/jurumarble/src/app/vote/[id]/services/useExecuteVoteService.ts
  apps/jurumarble/src/app/vote/page.tsx
  apps/jurumarble/src/components/BottomBar.tsx
  apps/jurumarble/src/components/Header.tsx
  apps/jurumarble/src/components/ReplaceLoginPagemModal/ReplaceLoginPageModal.tsx
  apps/jurumarble/src/components/ReplaceLoginPagemModal/styles.module.css
  apps/jurumarble/src/lib/apis/http/http.ts
  apps/jurumarble/src/services/useBookmarkService.ts
Labels: 🙏리뷰해주세요, JURUMARBLE

#204 [JR-880] qa 우선순위 높은 작업들 처리
  apps/jurumarble/public/images/index.ts
  apps/jurumarble/public/images/restaurantImg.png
  apps/jurumarble/src/app/drink-info/[id]/components/DrinkCommentContainer.tsx
  apps/jurumarble/src/app/drink-info/[id]/services/useDrinkLoadService.ts
  apps/jurumarble/src/app/my/components/ChipContainer.tsx
  apps/jurumarble/src/app/my/components/VoteItem.tsx
  apps/jurumarble/src/app/my/components/VoteListContainer.tsx
  apps/jurumarble/src/app/notification/page.tsx
  apps/jurumarble/src/app/notification/services/useNotificationService.ts
  apps/jurumarble/src/app/search/components/SearchContainer.tsx
  apps/jurumarble/src/app/stamp/components/DrinkStampContainer.tsx
  apps/jurumarble/src/app/stamp/components/MyEnjoiedDrinkInfoSection.tsx
  apps/jurumarble/src/app/stamp/service/useDrinkStampListService.ts
  apps/jurumarble/src/app/vote/[id]/components/ChipContainer.tsx
  apps/jurumarble/src/app/vote/[id]/components/Comment.tsx
  apps/jurumarble/src/app/vote/[id]/components/CommentContainer.tsx
  apps/jurumarble/src/app/vote/[id]/components/DetailChipContainer.tsx
  apps/jurumarble/src/app/vote/[id]/components/RestaurantItem.tsx
  apps/jurumarble/src/app/vote/[id]/components/SearchRestaurantModal.tsx
  apps/jurumarble/src/app/vote/[id]/page.tsx
  apps/jurumarble/src/app/vote/[id]/services/useExecuteVoteService.ts
  apps/jurumarble/src/app/vote/[id]/update/components/UpdateVoteContainer.tsx
  apps/jurumarble/src/app/vote/[id]/update/hook/useUpdataVoteForm.ts
  apps/jurumarble/src/app/vote/layout.tsx
  apps/jurumarble/src/app/vote/page.tsx
  apps/jurumarble/src/app/vote/post/components/DrinkItem.tsx
  apps/jurumarble/src/app/vote/post/components/DrinkSearchModal.tsx
  apps/jurumarble/src/app/vote/post/components/PostVoteContainer.tsx
  apps/jurumarble/src/app/vote/post/services/usePostVoteService.ts
  apps/jurumarble/src/components/SearchInput.tsx
  apps/jurumarble/src/lib/apis/drink.ts
  apps/jurumarble/src/lib/apis/restaurant.ts
  apps/jurumarble/src/lib/apis/vote.ts
  apps/jurumarble/src/lib/queryKeys.ts
  apps/jurumarble/src/lib/utils/CalculateDifferenceTime.ts
  apps/jurumarble/src/lib/utils/formatDate.ts
  apps/jurumarble/src/modules/httpFetch.ts
  apps/jurumarble/src/services/useBookmarkService.ts
  apps/jurumarble/src/services/useDrinkStampService.ts
  apps/jurumarble/src/types/vote.ts
Labels: 🙏리뷰해주세요, JURUMARBLE

#205 [JR-885] qa 작업 및 퍼블리싱
  apps/jurumarble/public/images/DrinkImage.png
  apps/jurumarble/public/images/MainBannerImage.png
  apps/jurumarble/public/images/index.ts
  apps/jurumarble/public/images/mainBanner.png
  apps/jurumarble/src/app/login/components/TermsOfUse.tsx
  apps/jurumarble/src/app/login/page.tsx
  apps/jurumarble/src/app/main/components/Banner.tsx
  apps/jurumarble/src/app/my/edit/components/UserInfoEditContainer.tsx
  apps/jurumarble/src/app/my/edit/services/useEditProfileService.ts
  apps/jurumarble/src/app/page.tsx
  apps/jurumarble/src/components/Footer/Footer.tsx
  apps/jurumarble/src/components/Footer/index.ts
  apps/jurumarble/src/components/Footer/styles.module.css
Labels: 🙏리뷰해주세요, JURUMARBLE

#206 온보딩 구현
  apps/jurumarble/public/images/VoteOnboardD01.png
  apps/jurumarble/public/images/VoteOnboardD02.png
  apps/jurumarble/public/images/VoteOnboardD03.png
  apps/jurumarble/public/images/VoteOnboardD04.png
  apps/jurumarble/public/images/VoteOnboardM01.png
  apps/jurumarble/public/images/VoteOnboardM02.png
  apps/jurumarble/public/images/VoteOnboardM03.png
  apps/jurumarble/public/images/VoteOnboardM04.png
  apps/jurumarble/public/images/index.ts
  apps/jurumarble/public/images/onboarding.png
  apps/jurumarble/src/app/main/components/Banner.tsx
  apps/jurumarble/src/app/onboarding/components/BottomButton.tsx
  apps/jurumarble/src/app/onboarding/page.module.css
  apps/jurumarble/src/app/onboarding/page.tsx
  apps/jurumarble/src/app/vote/components/OnboardingBottomsheet.tsx
  apps/jurumarble/src/app/vote/page.tsx
  apps/jurumarble/src/lib/Path.ts
Labels: 🙏리뷰해주세요, JURUMARBLE

#207 [JR-887] 푸터 구현
  apps/jurumarble/public/images/howToReportImage.png
  apps/jurumarble/public/images/index.ts
  apps/jurumarble/src/app/agreement/page.module.css
  apps/jurumarble/src/app/agreement/page.tsx
  apps/jurumarble/src/app/help/page.module.css
  apps/jurumarble/src/app/help/page.tsx
  apps/jurumarble/src/app/onboarding/page.module.css
  apps/jurumarble/src/app/onboarding/page.tsx
  apps/jurumarble/src/components/Footer/Footer.tsx
  apps/jurumarble/src/components/Footer/styles.module.css
  apps/jurumarble/src/components/SideButtonHeader/SideButtonHeader.tsx
  apps/jurumarble/src/components/SideButtonHeader/index.ts
  apps/jurumarble/src/components/SideButtonHeader/styles.module.css
  apps/jurumarble/src/lib/Path.ts
Labels: 🙏리뷰해주세요, JURUMARBLE

#208 [JR-886] QA2
  apps/jurumarble/src/app/vote/[id]/components/ChipContainer.tsx
  apps/jurumarble/src/app/vote/[id]/components/Comment.tsx
  apps/jurumarble/src/app/vote/[id]/components/CommentContainer.tsx
  apps/jurumarble/src/app/vote/[id]/components/VoteAnalyzeBar.tsx
  apps/jurumarble/src/app/vote/[id]/components/VoteDescription.tsx
  apps/jurumarble/src/app/vote/hooks/useFlipAnimation.ts
  apps/jurumarble/src/app/vote/page.tsx
Labels: 🙏리뷰해주세요, JURUMARBLE

#209 [JR-888] 회원가입 페이지 qa 작업
  apps/jurumarble/public/images/DrinkCapacityHigh.png
  apps/jurumarble/public/images/DrinkCapacityLow.png
  apps/jurumarble/public/images/DrinkCapacityMedium.png
  apps/jurumarble/src/app/main/components/Banner.tsx
  apps/jurumarble/src/app/onboarding/components/BottomButton.tsx
  apps/jurumarble/src/app/register/components/ContentHeader.tsx
  apps/jurumarble/src/app/register/components/WarningModal.tsx
  apps/jurumarble/src/app/register/contexts/RegisterProvider.tsx
  apps/jurumarble/src/app/register/sections/RegisterDrinkCapacitySection.tsx
  apps/jurumarble/src/app/register/sections/RegisterGenderSection.tsx
  apps/jurumarble/src/app/register/sections/RegisterMBTISection.tsx
  apps/jurumarble/src/assets/icons/components/female.tsx
  apps/jurumarble/src/assets/icons/components/male.tsx
  apps/jurumarble/src/components/AuthProcess.tsx
  apps/jurumarble/src/lib/constants.tsx
Labels: 🙏리뷰해주세요, JURUMARBLE

#210 [JR-889] 지도 오버레이 추가
  apps/jurumarble/src/app/map/components/MapContainer.tsx
  apps/jurumarble/src/app/map/services/useDrinksMapService.ts
Labels: 🙏리뷰해주세요, JURUMARBLE

#211 [JR-891] 회원가입 페이지 이전 버튼 추가
  apps/jurumarble/src/app/main/components/HotDrinkVoteContainer.tsx
  apps/jurumarble/src/app/onboarding/page.module.css
  apps/jurumarble/src/app/onboarding/page.tsx
  apps/jurumarble/src/app/register/components/GlobalHeader.tsx
  apps/jurumarble/src/app/register/components/RegisterHeader.tsx
  apps/jurumarble/src/app/register/components/index.ts
  apps/jurumarble/src/app/register/contexts/RegisterProvider.tsx
  apps/jurumarble/src/app/register/layout.tsx
Labels: 🙏리뷰해주세요, JURUMARBLE

#212 [JR-890] 캐싱으로 클라이언트에 즉각 반영되지 않는 이슈 해결
  apps/jurumarble/public/images/VoteOnboardD01.png
  apps/jurumarble/public/images/VoteOnboardD02.png
  apps/jurumarble/public/images/VoteOnboardD03.png
  apps/jurumarble/public/images/VoteOnboardD04.png
  apps/jurumarble/public/images/VoteOnboardM01.png
  apps/jurumarble/public/images/VoteOnboardM02.png
  apps/jurumarble/public/images/VoteOnboardM03.png
  apps/jurumarble/public/images/VoteOnboardM04.png
  apps/jurumarble/public/images/desktopDetailOnboarding.png
  apps/jurumarble/public/images/desktopEnlargeOnboarding.png
  apps/jurumarble/public/images/desktopMoveOnboarding.png
  apps/jurumarble/public/images/desktopSelectOnboarding.png
  apps/jurumarble/public/images/drinkStamp.png
  apps/jurumarble/public/images/female.png
  apps/jurumarble/public/images/index.ts
  apps/jurumarble/public/images/male.png
  apps/jurumarble/public/images/mobileDetailOnboarding.png
  apps/jurumarble/public/images/mobileEnlargeOnboarding.png
  apps/jurumarble/public/images/mobileMoveOnboarding.png
  apps/jurumarble/public/images/mobileSelectOnboarding.png
  apps/jurumarble/src/app/agreement/page.tsx
  apps/jurumarble/src/app/main/components/SearchInputWrapper.tsx
  apps/jurumarble/src/app/my/services/useGetCountedVoteService.ts
  apps/jurumarble/src/app/my/services/useGetMyBookmarkedVoteListService.ts
  apps/jurumarble/src/app/my/services/useGetMyCreatedVoteListService.ts
  apps/jurumarble/src/app/my/services/useGetMyParticipatedVoteListService.ts
  apps/jurumarble/src/app/policy/page.module.css
  apps/jurumarble/src/app/policy/page.tsx
  apps/jurumarble/src/app/stamp/components/MyEnjoiedDrinkInfoSection.tsx
  apps/jurumarble/src/app/vote/[id]/components/Comment.tsx
  apps/jurumarble/src/app/vote/[id]/components/SearchRestaurantModal.tsx
  apps/jurumarble/src/app/vote/[id]/services/useVoteDeleteService.ts
  apps/jurumarble/src/app/vote/[id]/update/hook/useUpdataVoteForm.ts
  apps/jurumarble/src/app/vote/components/OnboardingBottomsheet.tsx
  apps/jurumarble/src/app/vote/page.tsx
  apps/jurumarble/src/app/vote/post/services/usePostVoteService.ts
  apps/jurumarble/src/app/vote/services/useGetVoteListService.tsx
  apps/jurumarble/src/components/Footer/Footer.tsx
  apps/jurumarble/src/lib/Path.ts
  apps/jurumarble/src/lib/ReactQueryProvider.tsx
  apps/jurumarble/src/lib/apis/vote/getHotDrinkList.ts
  apps/jurumarble/src/lib/apis/vote/getHotDrinkVote.ts
Labels: 🙏리뷰해주세요, JURUMARBLE

#213 [JR-892] 전체적인 qa 작업
  apps/jurumarble/public/images/AImg.png
  apps/jurumarble/public/images/drinkWhiteImage.png
  apps/jurumarble/public/images/exe1.png
  apps/jurumarble/public/images/exe2.png
  apps/jurumarble/public/images/howToReportImage.png
  apps/jurumarble/public/images/index.ts
  apps/jurumarble/public/images/noSearchResult.png
  apps/jurumarble/src/app/drink-info/[id]/components/DrinkCommentContainer.tsx
  apps/jurumarble/src/app/drink-info/[id]/components/DrinkInfoContainer.tsx
  apps/jurumarble/src/app/help/page.module.css
  apps/jurumarble/src/app/help/page.tsx
  apps/jurumarble/src/app/map/components/MapContainer.tsx
  apps/jurumarble/src/app/notification/services/useNotificationService.ts
  apps/jurumarble/src/app/vote/[id]/components/CommentContainer.tsx
  apps/jurumarble/src/app/vote/[id]/components/SearchRestaurantModal.tsx
  apps/jurumarble/src/app/vote/[id]/components/VoteDescription.tsx
  apps/jurumarble/src/app/vote/page.tsx
Labels: 🙏리뷰해주세요, JURUMARBLE
